body {
  background-image: url(./images/Covid19_0.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  font-family: Oswald, sans-serif;
  color: rgb(253, 253, 253);

  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 4px;
}
.color {
  color: aliceblue;
}
.center {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#active {
  background-color: hsla(0, 0%, 0%, 0.349);
}
#death {
  background-color: rgba(0, 0, 0, 0.349);
}
#confirmed {
  background-color: rgba(0, 0, 0, 0.349);
}
#recovered {
  background-color: rgba(0, 0, 0, 0.349);
}
#btn {
  font-family: Oswald, sans-serif;
  background-color: rgb(79, 170, 43);
  border-radius: 15px;
  border: 3px solid rgb(231, 220, 220);
  cursor: pointer;
}

#countryname {
  font-family: Oswald, sans-serif;
  background-color: rgb(170, 250, 20);
  border-radius: 15px;
  text-align: center;
  border: 3px solid rgb(247, 235, 235);
}

a {
  background-color: burlywood;
  text-decoration: none;
  color: rgb(231, 20, 20);
  border: 2px solid black;
  border-radius: 15px;
  padding: 3px 20px;
}
